.content h1 {
  font-size: 32pt !important;
}

.content h2 {
  font-size: 26pt !important;
}

.content h3 {
  font-size: 1.17em !important;
}

.content h1, .content h2, .content h3, .content h4 {
  font-weight: 800 !important;
}

.content a {
  color: lightblue;
  text-decoration: underline;
}

.content li, .content h3 {
  margin-top: 10px !important;
}

.content p {
  padding-block: 5px;
}