* {
  font-family: var(--inter-font) !important;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 9px !important;
}

.city {
  width: 50vh !important;
  height: 35vh !important;
}

.outcome-img {
  width: 50vh !important;
  height: 50vh !important;
}

.hide {
  display: none !important;
}