.content h1 {
  font-size: 4vw !important;
}

.content h2 {
  font-size: 3vw !important;
}

.content h3 {
  font-size: 3vw !important;
  margin-top: 10px !important;
}

.content h1, .content h2, .content h3, .content h4 {
  font-weight: 800 !important;
}

.content a {
  color: lightseagreen;
  text-decoration: underline;
}

.content li {
  margin-top: 10px !important;
  margin-left: 40px !important;
}


.content p {
  margin-block: 5px;
}